<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <!-- 终端日志输出格式 -->
        <Property name="TERMINAL_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{-%5p} [%t] %highlight{%logger} : %m%n
        </Property>
        <!-- 终端日志输出格式 -->
        <Property name="TERMINAL_RPC_CONTEXT_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{-%5p} [%X{TRACE_ID}][%t] %highlight{%logger} : %m%n
        </Property>

        <!-- 日志目录 -->
        <Property name="LOG_HOME">
            logs
        </Property>
    </Properties>

    <Appenders>
        <Console name="CONSOLE">
            <PatternLayout pattern="${TERMINAL_PATTERN}"/>
        </Console>

        <Console name="CONSOLE2">
            <PatternLayout pattern="${TERMINAL_RPC_CONTEXT_PATTERN}"/>
        </Console>

    </Appenders>

    <Loggers>
        <AsyncRoot level="INFO">
            <AppenderRef ref="CONSOLE"/>
        </AsyncRoot>

        <AsyncLogger name="org.tomato.study.rpc.sample.spring.server.service" level="INFO" additivity="false">
            <AppenderRef ref="CONSOLE2"/>
        </AsyncLogger>

        <AsyncLogger name="TOMATO-RPC-DIGEST" level="INFO" additivity="false">
            <AppenderRef ref="CONSOLE2"/>
        </AsyncLogger>

        <AsyncLogger name="TOMATO-RPC-DEFAULT" level="INFO" additivity="false">
            <AppenderRef ref="CONSOLE2"/>
        </AsyncLogger>
    </Loggers>
</Configuration>